<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Morse Code Translator</title>
</head>
<body>
        <div class="Heading" style="text-align: center">
            <h1><a href="{{url_for('homepage')}}" style="text-decoration:none;color:black">Morse Code Translator</a></h1>
        </div>
        <div style="text-align: center">
            <form method="post" action="{{ url_for('text_to_morse') }}">
                <textarea rows="10" cols="150" name="prompt" placeholder="Enter your prompt that you would like to see in morse code"
                ></textarea>
                <button type="submit">Convert</button>
            </form>
            {% if data: %}
            <p>Output: {{data}}</p>
            {% endif %}
        </div>
</body>
</html>